# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Point to the entrypoint script
build_file: "tpu-raiden/kokoro/gcp_ubuntu/build_docker.sh"

container_properties {
  docker_image: "us-docker.pkg.dev/artifact-foundry-prod/docker-3p-trusted/ubuntu:22.04"
}
